
<div class="menu" id="sidebar-menu" style="left: -500px;">
        
    <div class="main" id="main">
        <div class="sidebar-box">
            <!--畅言热门新闻-->
            <div id="cyHotnews" role="cylabs" data-use="hotnews"></div>
        </div>
        <div class="sidebar-box">
            <!--畅言热门评论-->
            <div id="cyReping" role="cylabs" data-use="reping"></div>
        </div>
        <div class="sidebar-box">
            <!--畅言热评用户-->
            <div id="cyHotusers" role="cylabs" data-use="hotusers"></div>
        </div>
        <div class="sidebar-box">
            <!--畅言打赏-->
            <div id="cyReward" role="cylabs" data-use="reward"></div>
        </div>
        <a href="#" class="toggle" id="show-btn"><span class="fa fa-bars"></span></a>
    </div><!-- /.main -->
    <div class="second" id="sidebar-second" style="overflow: hidden; width: 0px; display: none;">
        <a href="#" class="hideSecond" id="hideSecond">
            <span class="fui-arrow-left"></span> hide</a>
    </div><!-- /.secondSide -->
</div>

