{% extends "layout.html" %}

{% block body %}
  <form method="post" action="/admin">
    <div class="form-group">
      <label for ="text">文本</label>
      <input type="input" name="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="img" >图片</label>
      <input type="file" name="img" class="form-control">
    </div>
    <div class="form-group">
      <label>板块</label>
      <select name="section">
        {% for section in sections %}
        <option value="{{section.header}}">{{section.header}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-default">保存</button>
  </form>
{% endblock body %}
{% block extra_script %}
{% endblock extra_script%}